@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: 'Montserrat', sans-serif;

}

@layer components{

    .icons{
        @apply text-linear-100 font-semibold sm:w-5 sm:h-5 h-4 w-4 sm:text-base text-xs;
    }

    .linear-text{
        @apply bg-gradient-to-r from-linear-default to-linear-100 via-linear-200 text-transparent bg-clip-text w-full;  
    }

    .circleTranslate{
        @apply text-primary-default w-8 h-8 absolute sm:w-9 sm:h-9 lg:w-11 lg:h-11;
    }

    .aboutbtn{
        @apply border-l border-primary-200 py-2 pl-3 -m-px w-48;
    }
    .abouttext{
        @apply text-sm sm:text-base w-3/5 mx-auto md:w-[400px] md:h-[400px] pb-5 text-gray-300 animate-[text_.7s_ease-in-out_forwards] !leading-[1.6]; 
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #0A0A0A;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(88, 88, 88);
    transition: all .4s;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3A4A69;
  }